body {
  /* background-color: #262626 !important; */
  background-color: #e7e7e799 !important;
  color: white !important;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    rgba(226, 251, 171, 0.5),
    rgba(19, 112, 213, 0.2),
    rgba(0, 160, 229, 0.3),
    rgba(0, 198, 207, 0.2),
    rgba(117, 229, 178, 0.3)
  ) !important;
  min-height: 100vh;
}

.bg-color1 {
  /* background-color: #262626; */
}

.bg-primary-edit {
  background-color: #1370d5 !important;
}

.bg-info-edit {
  background-color: #95c5d7 !important;
}

.overflow-auto {
  overflow: auto;
}

.nav-headline h1 {
  font-size: 24px;
  margin: 0;
  letter-spacing: 0.2px;
}

.second-headline {
  font-size: 12px;
}

.dashboard-box {
  min-height: 100px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.35));
}

.sums {
  position: sticky;
  top: 0;
  /* background-color: #262626; */
  z-index: 20;
}

/* Font Sizes*/

.dashboard-font-size {
  font-size: 4vw;
}

.sticky-table-top {
  position: sticky;
  top: 100px;
  z-index: 19;
}

@media (min-width: 660px) {
  .max-fs-22 {
    font-size: 26px;
  }
}

.table-top-fs {
  font-size: 0.8rem;
}

.table-top {
  background-color: #3a6f9e;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.table-inner-fs {
  font-size: 0.75rem;
}

/* Font Sizes End*/

.add-Button {
  width: 3rem;
  height: 3rem;
  border: none;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
}

.incoming-style {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.incoming-style-unpaid {
  background-color: #62a2bb !important;
}

.close {
  color: #fff !important;
  text-shadow: none !important;
  font-weight: 200 !important;
}

.dropdown-menu {
  height: 250px !important;
  border: none !important;
}

.modal.fade.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.border-middle-content {
  border-left: solid 2px #ffffff40;
  border-right: solid 2px #ffffff40;
}

.border-middle-head-content {
  border-left: solid 2px #ffffff40;
  border-right: solid 2px #ffffff40;
}

.alert-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.alert.alert-success {
  background-color: #007bff;
  color: white;
  border: 2.5px solid #ffffffcc;
}

.display-none {
  display: none;
}

.workTime-btn {
  width: 150px;
}

.incoming-head-style {
  background-image: linear-gradient(
    175deg,
    rgb(58 111 158 / 38%),
    rgb(58 111 158 / 15%) 95%,
    rgb(58 111 158 / 0%)
  );
  border-radius: 4px;
  padding: 2px;
}

.btn.btn-warning-edit {
  background-color: #3a6f9e;
}

.paid-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
}

.unpaid-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 35%;
  transform: translate(-0%, 0);
  width: 30%;
}

.unpaid-btn.btn-warning {
  color: white;
}

.delete-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(-0%, 0);
  width: 30%;
}

.toggleIndex {
  z-index: -1 !important;
  pointer-events: none;
}

.incoming-border-right-openIncoming {
  border-right: solid 8px #ffc008;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.incoming-border-right-paidIncoming {
  border-right: solid 8px #007bff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.overflow-visible {
  overflow: visible;
}
